.carousel {
  text-align: center;
  height: 200px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.carousel h2 {
  align-self: flex-start;
  text-transform: capitalize;
}

.wrapper {
  display: flex;
  height: 200px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: inherit;
}

.device-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: flex-start;
}
.device {
  flex-shrink: 0;
  width: 200px;
  height: 100px;
  margin: 1%;
  border-radius: 1.25rem;
  word-wrap: break-word;
}

.device > span {
  font-size: 1vw;
  margin: auto;
  word-break: break-word;
}
/* .device > * {
  padding: 10px;
} */

.device-container::-webkit-scrollbar {
  height: 5px;
}

.device-container::-webkit-scrollbar-thumb {
  background-color: #7b40f2;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 1.25rem;
}

#prev > *,
#next > * {
  pointer-events: none;
}
